[submodule "gtts"]
	path = gtts
	url = git@github.com:he-end/gtts.git
[submodule "gem-flash-image"]
	path = gem-flash-image
	url = git@github.com:he-end/gem-flash-image.git
[submodule "gemini"]
	path = gemini
	url = git@github.com:he-end/gemini.git
